$dark: #292c31;
$darker: #212529;
$darkest: #0c0e0f;
$light: #f3f3f3;
$light-medium: #e3e3e3;
$medium: #d3d3d3;
$medium-dark: #909090;

$grid-size: 550px;


$grey-120: #e2e3e7;
$grey-66: #c4c7cf;
$grey-46: #868d9a;
$grey-30: #696e79;
$grey-16: #41454c;
$grey-13: #35383f;
$grey-11: #292c31;
$grey-10: #232529;

* {
    background-color: $dark;
    box-sizing: border-box;
    color: $light;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 36px;
}

#main {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 3em;
    justify-content: center;
    margin: 0 auto;
    height: $grid-size;
}

button {
    border: none;
    border-radius: 8px;
    color: $dark;
    height: 100%;
    width: 10em;
    cursor: pointer;
}

#clear-button,
#white {
    background-color: $light;
    border: 1px solid $light-medium;
    height: 40px;
}

#party {
    background: linear-gradient(90deg,
    rgba(255,0,0) 0%,
    rgba(255,154,0) 10%,
    rgba(208,222,33) 20%,
    rgba(79,220,74) 30%,
    rgba(63,218,216) 40%,
    rgba(47,201,226) 50%,
    rgba(28,127,238) 60%,
    rgba(95,21,242) 70%,
    rgba(186,12,248) 80%,
    rgba(251,7,217) 90%,
    rgba(255,0,0) 100%);
}

#button-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    height: 100%;
}

.color-buttons:hover,
.active {
    transform: translateX(15px);
    transition-duration: .2s;
}

#clear-button:hover {
    background-color: #e04949;
    border: 1px solid $light-medium;
    color: #ffffff;
    transform: translateX(0);
}

#white:hover {
    background-color: $medium;
    border: 1px solid $light-medium;
    transform: translateX(0);
}

#clear-button:active {
    color:#f3f3f3;
    background-color: $darker;
    transform: translateX(0);
}

#white.active {
    background-color: #e9a8af;
    border-color: $darker;
    transform: translateX(0);
}

#options,
#colors {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

#colors {
    height: 100%;
}

#options {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-slider {
    -webkit-appearance: none;
    background-color: $medium-dark;
    border-radius: 5px;
    height: 12px;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
}

#grid-slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: $light;
    border-radius: 9px;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: $light;
    border-radius: 9px;
    cursor: pointer;
  }

p {
    font-size: 14px;
    margin: 6px 0;
}

#grid {
    box-shadow: 0 3px 9px rgb(0, 0, 0, 0.8);
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    height: $grid-size;
    width: $grid-size;
}

.square {
    background-color: #ffffff;
    border: .2px solid rgb(0, 0, 0, 0.05);
    cursor: crosshair;
}

#footer {
    font-size: 14px;
    margin-top: 2em;
}


a:hover {
    color: rgb(29, 197, 163);
    transition-duration: 300ms;
}