$grid-size: 550px;

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    height: $grid-size;
    width: $grid-size;
}

.square {
    border: .2px solid rgb(0, 0, 0, 0.1);
}